<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/comments" method="post">
        <div>
            <label for="user">Username</label>
            <input type="text" name="user" id="user" aria-placeholder="Username">
        </div>
        <div>
            <label for="text">Comment Please</label>
            <input type="text" name="text" id="text" aria-placeholder="please enter some text">
        </div> 
        <button>Create Comment</button>
    </form>
</body>
</html>